body {
    background: #000;
    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Div styles */
.welcome {
    background: antiquewhite;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.mid {
    background: gainsboro;
    width: 100%;
    overflow: hidden;
}

.bottom {
    background: gray;
    width: 100%;
    overflow: hidden;
}