body {
    background-color: gainsboro;
}

.navbar-brand {
    font-family: 'Lovelyn', sans-serif;
    font-size: 30px;
}

.navbar-brand-first-letter {
    font-family: 'Lovelyn', sans-serif;
    font-size: 30px;
}

.nav-item {
    font-family: 'Lovelyn', sans-serif;                       
    font-size: 20px;
}

.btn {
    font-family: 'Lovelyn', sans-serif;
    /* font-size: 20px; */
}

.btn:hover {
    color: whitesmoke;
}

.btn-warning {
    color: whitesmoke;
}

.my-header-image {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;

    width: 100vh;
    height: auto;
    padding: 0;
    margin: 0;
}