body {
  text-align: center;
  background-color: #011F3F;
  transition: background-color 3s ease; /* Sayfa arka planının yavaşça değişmesi için geçiş süresi belirleme */
}

#level-title {

  display:flex;
  align-items: center;
  justify-content: center;

  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  height: 140px;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
  transition-duration: 0s;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.red:hover, .green:hover, .blue:hover, .yellow:hover {
  box-shadow: 0 0 20px white;
}

.red:active, .green:active, .blue:active, .yellow:active, .pressed {
  border-color: white;
  box-shadow: 0 0 1000px white, inset white 0px 0px 80px 0px;
  isolation: isolate;
  mix-blend-mode: plus-lighter;
}


.menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;

  transition: display 2s ease-in-out;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.nope-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;

  transition: display 2s ease-in-out;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.start {
  display: inline-block;
  margin: 25px;
  height: 200px;
  width: 400px;
  border: 10px solid black;
  border-radius: 20%;
  background-color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color:  black;
  box-shadow: 0 0 20px white;
}

.start:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  box-shadow: 0 0 100px white, inset white 0px 0px 10px 0px;
  isolation: isolate;
  mix-blend-mode: plus-lighter;
}

.invisible {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.blocker {
  display: none;
  pointer-events: none;
}

