<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Test</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #041424;
        }
        h1 {
            text-align: center;
            color: #c00000;
        }
    </style>
</head>
<body>
    <h1><%= name %>, <br>You have been living for <%= age %> years.<br>You have left <%=left %> days to live.</h1>
    
</body>
</html>